<% layout('layouts/boilerplate') %> 

<div class="row mb-3">
    <div class="col-6">
        <div class="card" >
            <img src=<%= camp.image %> class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=camp.title %></h5>
              <p class="card-text"><%=camp.location %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">$<%=camp.price %>/Night</li>
              <li class="list-group-item"><%=camp.description %></li>
              
            </ul>
            <div class="card-body">
              <a class="btn btn-info" href="/camps/<%= camp._id %>/edit " class="card-link">Edit page</a>
              <a class="btn btn-info" href="/camps" class="card-link">All campgrounds</a>
              <p><form action="/camps/<%= camp._id %>?_method=delete " method="post">
                    <button class="btn btn-info">Delete</button>
              </form></p>
            </div>
          </div>
          <div class="col-6">

          </div>
          
         
            
    </div>
    <div class="col-6">
      <h1>Add Review of CampGround</h1>
      <form action="/camps/<%=camp._id%>/reviews" method="post" class="mb-3 validated-form" novalidate><%#*added 'validation-form' class from layouts/boilerplate.js, used for disabiling html validation.  %>
        <div class="mb-3">
          <label class="form-label" for="rating" class="form-label">Select Rating Point you want to give</label>
          <input class="form-control" type="range" min="0" max="5" name="review[rating]" id="rating">
        </div>
       <div class="mb-3">
        <label for="reviewbody" class="form-label">Review</label>
        <textarea name="review[body]"  id="reviewbody" cols="30" rows="3" class="form-control" required></textarea>
        <div class="valid-feedback">
          Look's Good!
      </div>
       </div>
       <button class="btn btn-success">Submit</button>
      </form>
      <h1>Reviews</h1>
      
        <% for(let review of camp.review){ %>
          <div class="mb-3 card">
            <div class="card-body">
              <h5 class="card-title">Rating :<%= review.rating  %>/5 </h5> 
              <p class="card-text">Review :<%=review.body  %> </p>
              <form action="/camps/<%= camp._id %>/reviews/<%= review._id %>?_method=delete" method="post">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
       
          </div>
        <% } %>  
    </div>
    
</div>


    