<% layout('layouts/boilerplate') %> 

<div class="row mb-3">
    <div class="col-6 offset-3">
        <div class="card" >
            <img src=<%= camp.image %> class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=camp.title %></h5>
              <p class="card-text"><%=camp.location %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">$<%=camp.price %>/Night</li>
              <li class="list-group-item"><%=camp.description %></li>
              
            </ul>
            <div class="card-body">
              <a class="btn btn-info" href="/camps/<%= camp._id %>/edit " class="card-link">Edit page</a>
              <a class="btn btn-info" href="/camps" class="card-link">All campgrounds</a>
            </div>
          </div>
    </div>
</div>


    